<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Times,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Times,serif;font-size:20.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Times,serif;font-size:20.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Times,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Times,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Times,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Times,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Times,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Times,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:Times,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Times,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Times,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_010{font-family:Times,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:Times,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_013{font-family:Times,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="a0c8652c-2e67-11eb-8b25-0cc47a792c0a_id_a0c8652c-2e67-11eb-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:1008px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="a0c8652c-2e67-11eb-8b25-0cc47a792c0a_id_a0c8652c-2e67-11eb-8b25-0cc47a792c0a_files/background1.jpg" width=612 height=1008></div>
<div style="position:absolute;left:178.10px;top:34.44px" class="cls_002"><span class="cls_002">PEMERINTAH KOTA PEKANBARU</span></div>
<div style="position:absolute;left:138.98px;top:50.52px" class="cls_002"><span class="cls_002">DINAS PERDAGANGAN DAN PERINDUSTRIAN</span></div>
<div style="position:absolute;left:170.78px;top:66.24px" class="cls_003"><span class="cls_003">UPT METROLOGI LEGAL</span></div>
<div style="position:absolute;left:136.70px;top:89.78px" class="cls_004"><span class="cls_004">Jl. Jend. Ahmad Yani No. 128 Telp. (0761)8440334 Pekanbaru (28127)</span></div>
<div style="position:absolute;left:194.93px;top:124.82px" class="cls_006"><span class="cls_006">SURAT KETERANGAN HASIL PENGUJIAN</span></div>
<div style="position:absolute;left:248.45px;top:147.14px" class="cls_004"><span class="cls_004">700 / DPP  / UPT 1.3 / 218 / X /2020</span></div>
<div style="position:absolute;left:29.40px;top:186.74px" class="cls_004"><span class="cls_004">UTTP</span></div>
<div style="position:absolute;left:164.18px;top:186.74px" class="cls_004"><span class="cls_004">: Tangki Ukur Mobil</span></div>
<div style="position:absolute;left:29.40px;top:207.38px" class="cls_004"><span class="cls_004">Pemilik</span></div>
<div style="position:absolute;left:164.18px;top:207.38px" class="cls_004"><span class="cls_004">: PT. USAHA MAS JASATAMA</span></div>
<div style="position:absolute;left:29.40px;top:228.02px" class="cls_004"><span class="cls_004">Merk/Buatan</span></div>
<div style="position:absolute;left:164.18px;top:228.02px" class="cls_004"><span class="cls_004">: MECO</span></div>
<div style="position:absolute;left:29.40px;top:248.66px" class="cls_004"><span class="cls_004">Model / Nomor Seri</span></div>
<div style="position:absolute;left:164.18px;top:248.66px" class="cls_004"><span class="cls_004">: OVAL SQUARE</span></div>
<div style="position:absolute;left:29.40px;top:269.30px" class="cls_004"><span class="cls_004">Volume Nominal</span></div>
<div style="position:absolute;left:164.18px;top:269.30px" class="cls_004"><span class="cls_004">: 24000 Liter</span></div>
<div style="position:absolute;left:229.91px;top:269.30px" class="cls_004"><span class="cls_004">(3 x 8000 Liter)</span></div>
<div style="position:absolute;left:29.40px;top:290.06px" class="cls_004"><span class="cls_004">Merk Kendaraan</span></div>
<div style="position:absolute;left:164.18px;top:290.06px" class="cls_004"><span class="cls_004">: HINO</span></div>
<div style="position:absolute;left:29.40px;top:310.73px" class="cls_004"><span class="cls_004">No. POL / CHASIS</span></div>
<div style="position:absolute;left:164.18px;top:310.73px" class="cls_004"><span class="cls_004">: BK 8027 ER</span></div>
<div style="position:absolute;left:29.40px;top:331.37px" class="cls_004"><span class="cls_004">Metode</span></div>
<div style="position:absolute;left:164.18px;top:331.37px" class="cls_004"><span class="cls_004">: Penakaran Masuk</span></div>
<div style="position:absolute;left:29.40px;top:352.01px" class="cls_004"><span class="cls_004">Suhu Dasar</span></div>
<div style="position:absolute;left:164.18px;top:352.01px" class="cls_004"><span class="cls_004">: 28 C</span></div>
<div style="position:absolute;left:29.40px;top:372.65px" class="cls_004"><span class="cls_004">Di Tera Oleh</span></div>
<div style="position:absolute;left:164.18px;top:372.65px" class="cls_004"><span class="cls_004">: MASRIZALDI, S.T</span></div>
<div style="position:absolute;left:288.05px;top:372.65px" class="cls_004"><span class="cls_004">NIP. 19751206 200902 1 002</span></div>
<div style="position:absolute;left:169.70px;top:393.29px" class="cls_004"><span class="cls_004">M. SUBKHAN, S.Si</span></div>
<div style="position:absolute;left:288.05px;top:393.29px" class="cls_004"><span class="cls_004">NIP. 19770818 200501 1 004</span></div>
<div style="position:absolute;left:29.40px;top:413.93px" class="cls_004"><span class="cls_004">Tanggal</span></div>
<div style="position:absolute;left:164.18px;top:413.93px" class="cls_004"><span class="cls_004">: 14 Oktober 2020</span></div>
<div style="position:absolute;left:29.40px;top:434.57px" class="cls_004"><span class="cls_004">Hasil</span></div>
<div style="position:absolute;left:164.18px;top:434.57px" class="cls_004"><span class="cls_004">: Memenuhi Syarat tehnis kemetrologian Tera Tahun 2020</span></div>
<div style="position:absolute;left:41.52px;top:467.33px" class="cls_008"><span class="cls_008">CAP TERA PADA INDEKSI ISI NOMINAL</span></div>
<div style="position:absolute;left:77.06px;top:479.93px" class="cls_008"><span class="cls_008">DAN TUTUP DOM : SP6 (20)</span></div>
<div style="position:absolute;left:372.67px;top:523.03px" class="cls_009"><span class="cls_009">KOMPARTEMEN</span></div>
<div style="position:absolute;left:341.47px;top:532.27px" class="cls_009"><span class="cls_009">I</span></div>
<div style="position:absolute;left:423.31px;top:532.27px" class="cls_009"><span class="cls_009">II</span></div>
<div style="position:absolute;left:506.02px;top:532.27px" class="cls_009"><span class="cls_009">III</span></div>
<div style="position:absolute;left:260.09px;top:541.39px" class="cls_009"><span class="cls_009">t1</span></div>
<div style="position:absolute;left:306.65px;top:541.39px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:389.83px;top:541.39px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:473.14px;top:541.39px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:260.09px;top:550.63px" class="cls_009"><span class="cls_009">t2</span></div>
<div style="position:absolute;left:306.65px;top:550.63px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:389.83px;top:550.63px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:473.14px;top:550.63px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:260.09px;top:559.87px" class="cls_009"><span class="cls_009">t3</span></div>
<div style="position:absolute;left:306.65px;top:559.87px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:389.83px;top:559.87px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:473.14px;top:559.87px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:260.09px;top:568.99px" class="cls_009"><span class="cls_009">t4</span></div>
<div style="position:absolute;left:306.65px;top:568.99px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:389.83px;top:568.99px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:473.14px;top:568.99px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:260.09px;top:578.23px" class="cls_009"><span class="cls_009">T</span></div>
<div style="position:absolute;left:306.65px;top:578.23px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:389.83px;top:578.23px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:473.14px;top:578.23px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:260.09px;top:587.47px" class="cls_009"><span class="cls_009">d</span></div>
<div style="position:absolute;left:306.65px;top:587.47px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:389.83px;top:587.47px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:473.14px;top:587.47px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:260.09px;top:596.59px" class="cls_009"><span class="cls_009">p</span></div>
<div style="position:absolute;left:306.65px;top:596.59px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:389.83px;top:596.59px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:473.14px;top:596.59px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:260.09px;top:605.83px" class="cls_009"><span class="cls_009">q</span></div>
<div style="position:absolute;left:306.65px;top:605.83px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:389.83px;top:605.83px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:473.14px;top:605.83px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:260.09px;top:615.07px" class="cls_009"><span class="cls_009">s</span></div>
<div style="position:absolute;left:306.65px;top:615.07px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:389.83px;top:615.07px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:473.14px;top:615.07px" class="cls_009"><span class="cls_009">= 0,000.0 mm</span></div>
<div style="position:absolute;left:260.09px;top:624.19px" class="cls_009"><span class="cls_009">r</span></div>
<div style="position:absolute;left:306.65px;top:624.19px" class="cls_009"><span class="cls_009">= 0,000.0 mm/I</span></div>
<div style="position:absolute;left:389.83px;top:624.19px" class="cls_009"><span class="cls_009">= 0,000.0 mm/I</span></div>
<div style="position:absolute;left:473.14px;top:624.19px" class="cls_009"><span class="cls_009">= 0,000.0 mm/I</span></div>
<div style="position:absolute;left:231.65px;top:651.31px" class="cls_010"><span class="cls_010">DISAHKANX` BERDASARKAN UNDANG-UNDANG RI NOMOR 2 TAHUN 1981 TENTA</span></div>
<div style="position:absolute;left:231.65px;top:666.91px" class="cls_010"><span class="cls_010">METROLOGI LEGAL DENGAN MEMBUBUHKAN TANDA TERA SAH DAN JAMINAN</span></div>
<div style="position:absolute;left:320.23px;top:720.31px" class="cls_007"><span class="cls_007">Pekanbaru, 14 Oktober 2020</span></div>
<div style="position:absolute;left:320.23px;top:743.26px" class="cls_007"><span class="cls_007">KEPALA UPT METROLOGI LEGAL</span></div>
<div style="position:absolute;left:320.23px;top:766.18px" class="cls_007"><span class="cls_007">KOTA PEKANBARU</span></div>
<div style="position:absolute;left:29.40px;top:812.02px" class="cls_004"><span class="cls_004">CATATAN :</span></div>
<div style="position:absolute;left:29.40px;top:833.74px" class="cls_004"><span class="cls_004">1.   Ditera ulang kembali</span></div>
<div style="position:absolute;left:192.53px;top:833.74px" class="cls_004"><span class="cls_004">14 oktober 2022</span></div>
<div style="position:absolute;left:29.40px;top:847.30px" class="cls_004"><span class="cls_004">2.   Tangki ukur mobil  terdiri dari</span></div>
<div style="position:absolute;left:192.53px;top:847.30px" class="cls_004"><span class="cls_004">3 (tiga) kompartemen</span></div>
<div style="position:absolute;left:29.40px;top:860.98px" class="cls_004"><span class="cls_004">3.   Kepekaan di sekitar indeks petunjuk = R</span></div>
<div style="position:absolute;left:320.23px;top:860.98px" class="cls_013"><span class="cls_013">AMRIZALMI, ST</span></div>
<div style="position:absolute;left:29.40px;top:874.66px" class="cls_004"><span class="cls_004">4.   Salinan / foto copy Surat Keterangan Pengujian ini</span></div>
<div style="position:absolute;left:320.23px;top:874.66px" class="cls_004"><span class="cls_004">Penata Muda Tk.I(III/B)</span></div>
<div style="position:absolute;left:47.40px;top:888.34px" class="cls_004"><span class="cls_004">tidak berlaku tanpa pengesahan dari Kepala UPT</span></div>
<div style="position:absolute;left:320.23px;top:888.34px" class="cls_004"><span class="cls_004">NIP. 19680714 200801 1 016</span></div>
<div style="position:absolute;left:47.40px;top:901.90px" class="cls_004"><span class="cls_004">Metrologi Peknabaru</span></div>
</div>

</body>
</html>
