<html>
<head>
<title>D:\uploadedFiles\3333c16b1e0282a18b1d8c86e3a2ca-2526a6b84b48947f\p1enubsejobchd4d1pv11fa4t3d4.pdf</title>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 18.2px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_1400:850" src="page_001.jpg" height="1400" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_296:52" style="top:52;left:296">
<span id="_18.7" style="font-weight:bold; font-family:Times New Roman; font-size:18.7px; color:#000000">
PEMERINTAH KOTA PEKANBARU</span>
</div>
<div class="pos" id="_242:74" style="top:74;left:242">
<span id="_18.7" style="font-weight:bold; font-family:Times New Roman; font-size:18.7px; color:#000000">
DINAS PERDAGANGAN DAN PERINDUSTRIAN</span>
</div>
<div class="pos" id="_286:98" style="top:98;left:286">
<span id="_26.7" style="font-weight:bold; font-family:Times New Roman; font-size:26.7px; color:#000000">
UPT METROLOGI LEGAL</span>
</div>
<div class="pos" id="_238:127" style="top:127;left:238">
<span id="_14.7" style=" font-family:Times New Roman; font-size:14.7px; color:#000000">
Jl. Jend. Ahmad Yani No. 128 Telp. (0761)8440334 Pekanbaru (28127)</span>
</div>
<div class="pos" id="_270:177" style="top:177;left:270">
<span id="_19.2" style=" font-family:Times New Roman; font-size:19.2px; color:#000000">
SURAT KETERANGAN HASIL PENGUJIAN</span>
</div>
<div class="pos" id="_345:206" style="top:206;left:345">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
700 / DPP  / UPT 1.3 / 218 / X /2020</span>
</div>
<div class="pos" id="_40:262" style="top:262;left:40">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
UTTP</span>
</div>
<div class="pos" id="_227:262" style="top:262;left:227">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
: Tangki Ukur Mobil</span>
</div>
<div class="pos" id="_40:290" style="top:290;left:40">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
Pemilik</span>
</div>
<div class="pos" id="_227:290" style="top:290;left:227">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
: PT. USAHA MAS JASATAMA</span>
</div>
<div class="pos" id="_40:319" style="top:319;left:40">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
Merk/Buatan</span>
</div>
<div class="pos" id="_227:319" style="top:319;left:227">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
: MECO</span>
</div>
<div class="pos" id="_40:348" style="top:348;left:40">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
Model / Nomor Seri</span>
</div>
<div class="pos" id="_227:348" style="top:348;left:227">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
: OVAL SQUARE</span>
</div>
<div class="pos" id="_40:376" style="top:376;left:40">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
Volume Nominal</span>
</div>
<div class="pos" id="_227:376" style="top:376;left:227">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
: 24000 Liter   (3 x 8000 Liter)</span>
</div>
<div class="pos" id="_40:405" style="top:405;left:40">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
Merk Kendaraan</span>
</div>
<div class="pos" id="_227:405" style="top:405;left:227">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
: HINO</span>
</div>
<div class="pos" id="_40:434" style="top:434;left:40">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
No. POL / CHASIS</span>
</div>
<div class="pos" id="_227:434" style="top:434;left:227">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
: BK 8027 ER</span>
</div>
<div class="pos" id="_40:462" style="top:462;left:40">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
Metode</span>
</div>
<div class="pos" id="_227:462" style="top:462;left:227">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
: Penakaran Masuk</span>
</div>
<div class="pos" id="_40:491" style="top:491;left:40">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
Suhu Dasar</span>
</div>
<div class="pos" id="_227:491" style="top:491;left:227">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
: 28 C</span>
</div>
<div class="pos" id="_40:520" style="top:520;left:40">
<span id="_14.6" style=" font-family:Times New Roman; font-size:14.6px; color:#000000">
Di Tera Oleh</span>
</div>
<div class="pos" id="_227:520" style="top:520;left:227">
<span id="_15.0" style=" font-family:Times New Roman; font-size:15.0px; color:#000000">
: MASRIZALDI, S.T</span>
</div>
<div class="pos" id="_400:520" style="top:520;left:400">
<span id="_15.0" style=" font-family:Times New Roman; font-size:15.0px; color:#000000">
NIP. 19751206 200902 1 002</span>
</div>
<div class="pos" id="_227:548" style="top:548;left:227">
<span id="_15.0" style=" font-family:Times New Roman; font-size:15.0px; color:#000000">
  M. SUBKHAN, S.Si</span>
</div>
<div class="pos" id="_399:548" style="top:548;left:399">
<span id="_15.0" style=" font-family:Times New Roman; font-size:15.0px; color:#000000">
NIP. 19770818 200501 1 004</span>
</div>
<div class="pos" id="_40:577" style="top:577;left:40">
<span id="_15.0" style=" font-family:Times New Roman; font-size:15.0px; color:#000000">
Tanggal</span>
</div>
<div class="pos" id="_227:577" style="top:577;left:227">
<span id="_15.0" style=" font-family:Times New Roman; font-size:15.0px; color:#000000">
: 14 Oktober 2020</span>
</div>
<div class="pos" id="_40:606" style="top:606;left:40">
<span id="_15.0" style=" font-family:Times New Roman; font-size:15.0px; color:#000000">
Hasil</span>
</div>
<div class="pos" id="_227:606" style="top:606;left:227">
<span id="_15.0" style=" font-family:Times New Roman; font-size:15.0px; color:#000000">
: Memenuhi Syarat tehnis kemetrologian Tera Tahun 2020</span>
</div>
<div class="pos" id="_57:651" style="top:651;left:57">
<span id="_15.0" style="font-weight:bold; font-family:Times New Roman; font-size:15.0px; color:#000000">
CAP TERA PADA INDEKSI ISI NOMINAL</span>
</div>
<div class="pos" id="_107:669" style="top:669;left:107">
<span id="_15.0" style="font-weight:bold; font-family:Times New Roman; font-size:15.0px; color:#000000">
DAN TUTUP DOM : SP6 (20)</span>
</div>
<div class="pos" id="_517:727" style="top:727;left:517">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
KOMPARTEMEN</span>
</div>
<div class="pos" id="_474:740" style="top:740;left:474">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
I</span>
</div>
<div class="pos" id="_587:740" style="top:740;left:587">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
II</span>
</div>
<div class="pos" id="_702:740" style="top:740;left:702">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
III</span>
</div>
<div class="pos" id="_361:753" style="top:753;left:361">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
t1</span>
</div>
<div class="pos" id="_425:753" style="top:753;left:425">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_541:753" style="top:753;left:541">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_656:753" style="top:753;left:656">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_361:766" style="top:766;left:361">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
t2</span>
</div>
<div class="pos" id="_425:766" style="top:766;left:425">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_541:766" style="top:766;left:541">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_656:766" style="top:766;left:656">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_361:778" style="top:778;left:361">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
t3</span>
</div>
<div class="pos" id="_425:778" style="top:778;left:425">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_541:778" style="top:778;left:541">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_656:778" style="top:778;left:656">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_361:791" style="top:791;left:361">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
t4</span>
</div>
<div class="pos" id="_425:791" style="top:791;left:425">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_541:791" style="top:791;left:541">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_656:791" style="top:791;left:656">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_361:804" style="top:804;left:361">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
T</span>
</div>
<div class="pos" id="_425:804" style="top:804;left:425">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_541:804" style="top:804;left:541">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_656:804" style="top:804;left:656">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_361:817" style="top:817;left:361">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
d</span>
</div>
<div class="pos" id="_425:817" style="top:817;left:425">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_541:817" style="top:817;left:541">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_656:817" style="top:817;left:656">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_361:829" style="top:829;left:361">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
p</span>
</div>
<div class="pos" id="_425:829" style="top:829;left:425">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_541:829" style="top:829;left:541">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_656:829" style="top:829;left:656">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_361:842" style="top:842;left:361">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
q</span>
</div>
<div class="pos" id="_425:842" style="top:842;left:425">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_541:842" style="top:842;left:541">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_656:842" style="top:842;left:656">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_361:855" style="top:855;left:361">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
s</span>
</div>
<div class="pos" id="_425:855" style="top:855;left:425">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_541:855" style="top:855;left:541">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_656:855" style="top:855;left:656">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm</span>
</div>
<div class="pos" id="_361:868" style="top:868;left:361">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
r</span>
</div>
<div class="pos" id="_425:868" style="top:868;left:425">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm/I</span>
</div>
<div class="pos" id="_541:868" style="top:868;left:541">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm/I</span>
</div>
<div class="pos" id="_656:868" style="top:868;left:656">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
= 0,000.0 mm/I</span>
</div>
<div class="pos" id="_321:906" style="top:906;left:321">
<span id="_12.3" style="font-weight:bold; font-family:Times New Roman; font-size:12.3px; color:#000000">
DISAHKANX` BERDASARKAN UNDANG-UNDANG RI NOMOR 2 TAHUN 1981 TENTANG</span>
</div>
<div class="pos" id="_321:928" style="top:928;left:321">
<span id="_12.3" style="font-weight:bold; font-family:Times New Roman; font-size:12.3px; color:#000000">
METROLOGI LEGAL DENGAN MEMBUBUHKAN TANDA TERA SAH DAN JAMINAN</span>
</div>
<div class="pos" id="_444:1003" style="top:1003;left:444">
<span id="_16.4" style=" font-family:Times New Roman; font-size:16.4px; color:#000000">
Pekanbaru, 14 Oktober 2020</span>
</div>
<div class="pos" id="_444:1035" style="top:1035;left:444">
<span id="_16.4" style=" font-family:Times New Roman; font-size:16.4px; color:#000000">
KEPALA UPT METROLOGI LEGAL</span>
</div>
<div class="pos" id="_444:1067" style="top:1067;left:444">
<span id="_16.4" style=" font-family:Times New Roman; font-size:16.4px; color:#000000">
KOTA PEKANBARU</span>
</div>
<div class="pos" id="_40:1130" style="top:1130;left:40">
<span id="_14.5" style=" font-family:Times New Roman; font-size:14.5px; color:#000000">
CATATAN : </span>
</div>
<div class="pos" id="_40:1160" style="top:1160;left:40">
<span id="_14.5" style=" font-family:Times New Roman; font-size:14.5px; color:#000000">
1. Ditera ulang kembali </span>
</div>
<div class="pos" id="_267:1160" style="top:1160;left:267">
<span id="_14.5" style=" font-family:Times New Roman; font-size:14.5px; color:#000000">
14 oktober 2022</span>
</div>
<div class="pos" id="_40:1179" style="top:1179;left:40">
<span id="_14.5" style=" font-family:Times New Roman; font-size:14.5px; color:#000000">
2. Tangki ukur mobil  terdiri dari 3 (tiga) kompartemen</span>
</div>
<div class="pos" id="_40:1198" style="top:1198;left:40">
<span id="_14.5" style=" font-family:Times New Roman; font-size:14.5px; color:#000000">
3. Kepekaan di sekitar indeks petunjuk = R</span>
</div>
<div class="pos" id="_444:1198" style="top:1198;left:444">
<span id="_15.2" style=" font-family:Times New Roman; font-size:15.2px; color:#000000">
<U>A</U><U>M</U><U>R</U><U>I</U><U>Z</U><U>A</U><U>L</U><U>M</U><U>I</U><U>,</U><U> </U><U>S</U><U>T</U></span>
</div>
<div class="pos" id="_40:1217" style="top:1217;left:40">
<span id="_15.2" style=" font-family:Times New Roman; font-size:15.2px; color:#000000">
4. Salinan / foto copy Surat Keterangan Pengujian ini</span>
</div>
<div class="pos" id="_444:1217" style="top:1217;left:444">
<span id="_15.2" style=" font-family:Times New Roman; font-size:15.2px; color:#000000">
Penata Muda Tk.I(III/B)</span>
</div>
<div class="pos" id="_65:1236" style="top:1236;left:65">
<span id="_14.8" style=" font-family:Times New Roman; font-size:14.8px; color:#000000">
tidak berlaku tanpa pengesahan dari Kepala UPT</span>
</div>
<div class="pos" id="_444:1236" style="top:1236;left:444">
<span id="_14.8" style=" font-family:Times New Roman; font-size:14.8px; color:#000000">
NIP. 19680714 200801 1 016</span>
</div>
<div class="pos" id="_65:1255" style="top:1255;left:65">
<span id="_14.8" style=" font-family:Times New Roman; font-size:14.8px; color:#000000">
Metrologi Peknabaru</span>
</div>
</nowrap></nobr>
</body>
</html>
